@-moz-keyframes typingRocks {
    from {
        width: 0;
    }

    to {
        width: 25ch;
    }
}

@-webkit-keyframes typingRocks {
    from {
        width: 0;
    }

    to {
        width: 25ch;
    }
}

@keyframes typingRocks {
    from {
        width: 0;
    }

    to {
        width: 25ch;
    }
}


@keyframes cursor {
    0%, 100% {
        border-color: currentColor;
    }

    50% {
        border-color: transparent;
    }
}
