.shake {
        display: inline-block;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }

        .shake:hover {
            -webkit-animation-name: shake-base;
            -ms-animation-name: shake-base;
            animation-name: shake-base;
            -webkit-animation-duration: 100ms;
            -ms-animation-duration: 100ms;
            animation-duration: 100ms;
            -webkit-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            -ms-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-delay: 0s;
            -ms-animation-delay: 0s;
            animation-delay: 0s;
            -webkit-animation-play-state: running;
            -ms-animation-play-state: running;
            animation-play-state: running;
        }

        .shake.shake-slow:hover {
            -webkit-animation-name: shake-slow;
            -ms-animation-name: shake-slow;
            animation-name: shake-slow;
            -webkit-animation-duration: 5s;
            -ms-animation-duration: 5s;
            animation-duration: 5s;
            -webkit-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            -ms-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-delay: 0s;
            -ms-animation-delay: 0s;
            animation-delay: 0s;
            -webkit-animation-play-state: running;
            -ms-animation-play-state: running;
            animation-play-state: running;
        }

        .shake.shake-constant {
            -webkit-animation-name: shake-base;
            -ms-animation-name: shake-base;
            animation-name: shake-base;
            -webkit-animation-duration: 100ms;
            -ms-animation-duration: 100ms;
            animation-duration: 100ms;
            -webkit-animation-iteration-count: infinite;
            -ms-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            -ms-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-delay: 0s;
            -ms-animation-delay: 0s;
            animation-delay: 0s;
            -webkit-animation-play-state: running;
            -ms-animation-play-state: running;
            animation-play-state: running;
        }

            .shake.shake-constant.shake-slow {
                -webkit-animation-name: shake-slow;
                -ms-animation-name: shake-slow;
                animation-name: shake-slow;
                -webkit-animation-duration: 5s;
                -ms-animation-duration: 5s;
                animation-duration: 5s;
                -webkit-animation-iteration-count: infinite;
                -ms-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-timing-function: ease-in-out;
                -ms-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                -webkit-animation-delay: 0s;
                -ms-animation-delay: 0s;
                animation-delay: 0s;
                -webkit-animation-play-state: running;
                -ms-animation-play-state: running;
                animation-play-state: running;
            }

            .shake.shake-constant.hover-stop:hover {
                -webkit-animation-play-state: paused;
                -ms-animation-play-state: paused;
                animation-play-state: paused;
            }

@-webkit-keyframes shake-slow {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }

    2% {
        -webkit-transform: translate(-1px, 3px) rotate(-1.5deg);
    }

    6% {
        -webkit-transform: translate(-1px, 2px) rotate(-0.5deg);
    }

    10% {
        -webkit-transform: translate(-2px, -3px) rotate(-3.5deg);
    }

    14% {
        -webkit-transform: translate(1px, -1px) rotate(-1.5deg);
    }

    18% {
        -webkit-transform: translate(-2px, -1px) rotate(-0.5deg);
    }

    22% {
        -webkit-transform: translate(0px, 0px) rotate(-2.5deg);
    }

    26% {
        -webkit-transform: translate(-1px, 3px) rotate(-3.5deg);
    }

    30% {
        -webkit-transform: translate(-3px, 3px) rotate(1.5deg);
    }

    34% {
        -webkit-transform: translate(1px, -1px) rotate(-2.5deg);
    }

    38% {
        -webkit-transform: translate(-2px, 0px) rotate(-2.5deg);
    }

    42% {
        -webkit-transform: translate(2px, 3px) rotate(-0.5deg);
    }

    46% {
        -webkit-transform: translate(1px, 1px) rotate(-3.5deg);
    }

    50% {
        -webkit-transform: translate(-1px, 4px) rotate(-3.5deg);
    }

    54% {
        -webkit-transform: translate(2px, -3px) rotate(2.5deg);
    }

    58% {
        -webkit-transform: translate(-2px, -1px) rotate(-0.5deg);
    }

    62% {
        -webkit-transform: translate(-3px, 3px) rotate(2.5deg);
    }

    66% {
        -webkit-transform: translate(-1px, 1px) rotate(-1.5deg);
    }

    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1.5deg);
    }

    74% {
        -webkit-transform: translate(-2px, 0px) rotate(-0.5deg);
    }

    78% {
        -webkit-transform: translate(1px, -3px) rotate(-1.5deg);
    }

    82% {
        -webkit-transform: translate(2px, 1px) rotate(-1.5deg);
    }

    86% {
        -webkit-transform: translate(1px, 1px) rotate(-3.5deg);
    }

    90% {
        -webkit-transform: translate(4px, -1px) rotate(-1.5deg);
    }

    94% {
        -webkit-transform: translate(2px, -2px) rotate(2.5deg);
    }

    98% {
        -webkit-transform: translate(-2px, -2px) rotate(-3.5deg);
    }
}

@-ms-keyframes shake-slow {
    0% {
        -ms-transform: translate(0px, 0px) rotate(0deg);
    }

    2% {
        -ms-transform: translate(-1px, 3px) rotate(-1.5deg);
    }

    6% {
        -ms-transform: translate(-1px, 2px) rotate(-0.5deg);
    }

    10% {
        -ms-transform: translate(-2px, -3px) rotate(-3.5deg);
    }

    14% {
        -ms-transform: translate(1px, -1px) rotate(-1.5deg);
    }

    18% {
        -ms-transform: translate(-2px, -1px) rotate(-0.5deg);
    }

    22% {
        -ms-transform: translate(0px, 0px) rotate(-2.5deg);
    }

    26% {
        -ms-transform: translate(-1px, 3px) rotate(-3.5deg);
    }

    30% {
        -ms-transform: translate(-3px, 3px) rotate(1.5deg);
    }

    34% {
        -ms-transform: translate(1px, -1px) rotate(-2.5deg);
    }

    38% {
        -ms-transform: translate(-2px, 0px) rotate(-2.5deg);
    }

    42% {
        -ms-transform: translate(2px, 3px) rotate(-0.5deg);
    }

    46% {
        -ms-transform: translate(1px, 1px) rotate(-3.5deg);
    }

    50% {
        -ms-transform: translate(-1px, 4px) rotate(-3.5deg);
    }

    54% {
        -ms-transform: translate(2px, -3px) rotate(2.5deg);
    }

    58% {
        -ms-transform: translate(-2px, -1px) rotate(-0.5deg);
    }

    62% {
        -ms-transform: translate(-3px, 3px) rotate(2.5deg);
    }

    66% {
        -ms-transform: translate(-1px, 1px) rotate(-1.5deg);
    }

    70% {
        -ms-transform: translate(2px, 1px) rotate(-1.5deg);
    }

    74% {
        -ms-transform: translate(-2px, 0px) rotate(-0.5deg);
    }

    78% {
        -ms-transform: translate(1px, -3px) rotate(-1.5deg);
    }

    82% {
        -ms-transform: translate(2px, 1px) rotate(-1.5deg);
    }

    86% {
        -ms-transform: translate(1px, 1px) rotate(-3.5deg);
    }

    90% {
        -ms-transform: translate(4px, -1px) rotate(-1.5deg);
    }

    94% {
        -ms-transform: translate(2px, -2px) rotate(2.5deg);
    }

    98% {
        -ms-transform: translate(-2px, -2px) rotate(-3.5deg);
    }
}

@keyframes shake-slow {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    2% {
        transform: translate(-1px, 3px) rotate(-1.5deg);
    }

    6% {
        transform: translate(-1px, 2px) rotate(-0.5deg);
    }

    10% {
        transform: translate(-2px, -3px) rotate(-3.5deg);
    }

    14% {
        transform: translate(1px, -1px) rotate(-1.5deg);
    }

    18% {
        transform: translate(-2px, -1px) rotate(-0.5deg);
    }

    22% {
        transform: translate(0px, 0px) rotate(-2.5deg);
    }

    26% {
        transform: translate(-1px, 3px) rotate(-3.5deg);
    }

    30% {
        transform: translate(-3px, 3px) rotate(1.5deg);
    }

    34% {
        transform: translate(1px, -1px) rotate(-2.5deg);
    }

    38% {
        transform: translate(-2px, 0px) rotate(-2.5deg);
    }

    42% {
        transform: translate(2px, 3px) rotate(-0.5deg);
    }

    46% {
        transform: translate(1px, 1px) rotate(-3.5deg);
    }

    50% {
        transform: translate(-1px, 4px) rotate(-3.5deg);
    }

    54% {
        transform: translate(2px, -3px) rotate(2.5deg);
    }

    58% {
        transform: translate(-2px, -1px) rotate(-0.5deg);
    }

    62% {
        transform: translate(-3px, 3px) rotate(2.5deg);
    }

    66% {
        transform: translate(-1px, 1px) rotate(-1.5deg);
    }

    70% {
        transform: translate(2px, 1px) rotate(-1.5deg);
    }

    74% {
        transform: translate(-2px, 0px) rotate(-0.5deg);
    }

    78% {
        transform: translate(1px, -3px) rotate(-1.5deg);
    }

    82% {
        transform: translate(2px, 1px) rotate(-1.5deg);
    }

    86% {
        transform: translate(1px, 1px) rotate(-3.5deg);
    }

    90% {
        transform: translate(4px, -1px) rotate(-1.5deg);
    }

    94% {
        transform: translate(2px, -2px) rotate(2.5deg);
    }

    98% {
        transform: translate(-2px, -2px) rotate(-3.5deg);
    }
}

.loadTxt span {
    background: $colorBackground;
    border-left: .1em solid $strongColorText;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: typing 5s steps(7, end), /* # of steps = # of characters */
    blink-caret 1s step-end infinite;
    -moz-animation: typing 5s steps(7, end), /* # of steps = # of characters */
    blink-caret 1s step-end infinite;
}


@-webkit-keyframes typing {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@-webkit-keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: #636161;
    }
}

@-moz-keyframes typing {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@-moz-keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: #636161;
    }
}
