$desktop: 'screen and (min-width: 769px)';
$mobile: 'screen and (max-width: 768px)';
$tablet: 'screen and (max-width: 768px) and (min-width: 520px)';
$smartphone: 'screen and (max-width: 520px)';

$strongColorText: #636161;
$colorHeart: #A6120D;
$colorSelection: #8e44ad;

$borderSass: #CB6699;
$colorSass: rgba(250, 126, 189, 0.94);

$colorJS: #F0DB4F;

$borderCSS: #33A9DC;
$colorCSS: #1572B6;

$borderHTML: #F16529;
$colorHTML: #E44D26;

$colorBackground: #FFF;

$colorFooter:#212121;